@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
body{
    font-family: 'Amatic SC', cursive;
  background-image: url("img33.jpg");
   background-size: 100%;
   font-weight:900;
}

.home{
  font-family: 'Amatic SC', cursive;
  background:	rgba(255,255,255,0.44);
  width:48%;
  height:300px;
  margin: 34px 250px;
  padding: 109px;
  text-align: center;  font-weight: 800;
  text-transform: uppercase;
  font-size: 35px;
}
.home highlight{
  color:white;
}

.navbar ul{
  font-size:40px;

  margin:0;
}
.navbar li {
    display: inline;
  border: solid;
  background-color: #dddddd;

}
.navbar li a {
  margin: 0 100px;

    text-decoration: none;
    color: black;
}
.navbar li a:hover{
   background-color:rgb(242, 235, 26);
}
